	ul.pagination li.details{
	   color:#699613;
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #fff;
		background: #2f89fc;
		background:-moz-linear-gradient(top,#2f89fc,#0a74fd);
		background:-webkit-gradient(linear,0 0,0 100%,from(#2f89fc),to(#0a74fd));	
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#000!important;
		background:#E7F2C7;
	}