#pagingg ul.pagination{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:12px 'Tahoma';
	list-style-type:none;	
}

#pagingg ul.pagination li.details{
    padding:7px 10px 7px 10px;
    font-size:14px;
	display: none;
}



#pagingg ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

#pagingg ul.pagination li:first-child{
	margin-left:0px;
}

#pagingg ul.pagination li a{
	color:#808080;
	display:flex;
	justify-content: center;
	align-items: center;
	text-decoration:none;
	padding:7px 10px 7px 10px;
	font-size: 1rem;
	font-weight: normal;
	/* background-color: #fff; */
}

#pagingg ul.pagination li a.current{
	/* background-color: #fff; */
}

#pagingg ul.pagination li a img{
	border:none;
}
	
.last-1, .last-2{
	display: none!important;
}